:root {
  /* Global variables to be defined here */
  /* --primary: #ffffff; */
  --color-primary: #34c94b;
  --color-white: #ffffff;
  --color-black: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */


}

body::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar for Chrome, Safari, and Opera */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.swiper-slide{
  width: auto !important;
}