.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  display: flex;
 
}
.wrapper {
width: 95vw;
margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}
