.search {
    background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 568px;
  height: 48px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
}
input {
  font-family: "Lato";
  width: 568px;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.2px;
  background: transparent;
  padding-left: 10px;
  border: none;
  outline: none;
  color: black;
}
.imageContainer {
  /* border-left: 1px solid black; */
  padding: 20px;
}
